<div class='row opening-wrapper'>
    <div class='col-md-6' [ngClass]="{'disable-calendar': showSpinner }">
        <my-date-picker [options]="dpOptions" [selDate]="selectedDate" (calendarViewChanged)='onCalendarViewChanged($event)' (dateChanged)="onDateChanged($event)"></my-date-picker>
    </div>
    <div class='col-md-6'>
        <div *ngIf='!isError && showSpinner'>
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <span *ngIf='!isError && (!selectedDate || showText) && !showSpinner' class='text-danger'>Select preferred date please.</span>
        <span *ngIf='isError' class='text-danger'>{{ errorText }}</span>
        <div *ngIf='!isError && availableOpenings.length > 0 && selectedDate && isSelected && !showSpinner' class='row'>
            <div class='col-md-4'>
                <p class='opening-time-header'>Morning</p>
                <div *ngFor='let opening of oViewModel.morning' class='opening-time-item' (click)='selectOpening(opening)'>
                    {{ opening.viewString }}
                </div>
            </div>
            <div class='col-md-4'>
                <p class='opening-time-header'>Afternoon</p>
                <div *ngFor='let opening of oViewModel.afternoon' class='opening-time-item' (click)='selectOpening(opening)'>
                    {{ opening.viewString }}
                </div>
            </div>
            <div class='col-md-4'>
                <p class='opening-time-header'>Evening</p>
                <div *ngFor='let opening of oViewModel.evening' class='opening-time-item' (click)='selectOpening(opening)'>
                    {{ opening.viewString }}
                </div>
            </div>
        </div>
    </div>
</div>
