<main>
    <!-- content template -->
    <div *ngIf='account && displayScheduler' class='scheduler-wrapper'>
        <div class='row wizard-title'>
            <div class='col-md-12'>
                {{ account.name }}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12' style='font-size: 16px; padding-top: 10px;'>
                {{ account.city }}
            </div>
        </div>
        <div class='row wizard-steps' style='width: 78%;'>
            <div class='col-md-12 width-95'>
                <ul [schedulerSteps]='schedulerStep' [ngClass]='{ "longer": account.market === "DENTAL" }' total='{{totalSteps}}'>
					<li class="service tnctext">
						<span
                            tooltip="{{ apt.reason ? apt.reason.name : '' }}"
                            [tooltipDisabled]="!apt || !apt.reason"
                            [tooltipAnimation]="false"
                            tooltipPlacement="top"
                            class="step-li active"
                            (click)='previousStep(1)'>Reason</span>
					</li>
					<li class="tab_arrow"></li>
					<li class="provider tnctext">
						<span
                            tooltip="{{ apt.opening ? apt.opening.text : '' }}"
                            [tooltipDisabled]="!apt || !apt.opening"
                            [tooltipAnimation]="false"
                            tooltipPlacement="top"
                            class="step-li"
                            (click)='previousStep(2)'>Opening</span>
					</li>
					<li class="tab_arrow"></li>
                    <li class="date tnctext">
						<span class="step-li"
                            tooltip="{{ apt.provider ? apt.provider.displayName : '' }}"
                            [tooltipDisabled]="!apt || !apt.provider || !apt.provider.displayName || schedulerStep < 3"
                            [tooltipAnimation]="false"
                            tooltipPlacement="top"
                            (click)='previousStep(3)'>Provider</span>
					</li>
                    <li class="tab_arrow"></li>
					<li class="date tnctext">
						<span class="step-li" (click)='previousStep(4)'>Your Info</span>
					</li>
					<li class="tab_arrow" [ngClass]='{ "hidden": account.market === "DENTAL" }'></li>
					<li [ngClass]='{ "hidden": account.market === "DENTAL" }' class="info tnctext">
						<span class="step-li" (click)='previousStep(5)'>Pet Info</span>
					</li>
					<li class="tab_arrow"></li>
					<li class="confirm tnctext">
						<span class="step-li" (click)='previousStep(6)'>CONFIRM</span>
					</li>
				</ul>
                <div class='progressBar'>
					<div id="progressStatus" [schedulerProgress]='schedulerStep' total='{{ totalSteps }}'>
						<div id="progress-icon" (click)='previousStep(-1)' class="service"></div>
					</div>
                </div>
            </div>
        </div>
        <div *ngIf='settings' class='row wizard-content' style='width: 75%;'>
            <div class='col-md-12'>
                <div class='row'>
                    <div class='col-md-12 wizard-step-content'>
                        <!-- first step -->
                        <div *ngIf='currentStep(1)' class="list tab_content">
                            <reason-step [type]='settings.reasonSelectionMode' (onStepReady)='selectSchedulerStep($event)'></reason-step>
                        </div>
                        <!--/ first step -->
                        <!-- second step -->
                        <div *ngIf='currentStep(2)' class="list tab_content">
                            <div class='row'>
                                <div class='col-md-12 wizard-subtitle'>
                                    Choose a Date and Time
                                </div>
                            </div>
                            <opening-step (onStepReady)='selectSchedulerStep($event)'></opening-step>
                        </div>
                        <!--/ second step -->
                        <!-- third step -->
                        <div *ngIf='currentStep(3)' class="list provider tab_content">
                            <div class='row'>
                                <div class='col-md-12 wizard-subtitle'>
                                    Choose Provider
                                </div>
                            </div>
                            <provider-step (onStepReady)='selectSchedulerStep($event)'></provider-step>
                        </div>
                        <!--/ third step -->
                        <!-- third step -->
                        <div *ngIf='currentStep(4)' class="list tab_content">
                            <div class='row'>
                            </div>
                            <person-step (onStepReady)='selectSchedulerStep($event)'></person-step>
                        </div>
                        <!--/ third step -->
                        <!-- fourth step -->
                        <div *ngIf='currentStep(5) && account.market !== "DENTAL"' class="list tab_content">
                            <div class='row'>
                                <div class='col-md-12 wizard-subtitle'>
                                    <pet-step (onStepReady)='selectSchedulerStep($event)'></pet-step>
                                </div>
                            </div>
                        </div>
                        <!--/ fourth step -->
                        <!-- fourth step -->
                        <div *ngIf='currentStep(6)' class="list tab_content">
                            <div class='row'>
                                <div class='col-md-12 wizard-subtitle'>
                                   Confirmation step
                                </div>
                            </div>
                        </div>
                        <!--/ fourth step -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ content template -->
    <!-- error template -->
    <div *ngIf='!displayScheduler'>
        <p class='text-warning'>
            {{ errorText }}
        </p>
    </div>
    <router-outlet></router-outlet>
</main>
