<div *ngIf='account' class='addr-block'>
    <p>{{ account.address }}</p>
    <p>{{ account.addressLine2 }}</p>
    <p *ngIf='account.state'>{{ account.city }}, {{ account.state }}, {{ account.zipCode }}</p>
    <p *ngIf='!account.state'>{{ account.city }}, {{ account.zipCode }}</p>
    <p>{{ account.phone }}</p>
    <p><a [href]='account.webSiteUrl'>{{ account.webSite }}</a></p>
</div>