.opening-wrapper .mydp .selector {
    border: none;
    background: none;
}

.opening-wrapper .mydp .header td:nth-child(1) {
    width: 200px;
    margin-left: 30px;
    padding-left: 70px;
    position: relative;
}

.opening-wrapper .mydp .header td:nth-child(3) {
    display: none;
    padding-right: 40px!important;
}

.opening-wrapper .mydp .headertodaybtn {
    display: none;
}

.dp-non .mydp .header,
.dp-non .mydp .disabled,
.dp-non .mydp .weekdaytitle,
.dp-non .mydp .currmonth,
.opening-wrapper .mydp .header,
.opening-wrapper .mydp .disabled,
.opening-wrapper .mydp .weekdaytitle,
.opening-wrapper .mydp .currmonth {
    background: none!important;
}

.dp-non .mydp .caltable,
.dp-non .mydp .daycell,
.dp-non .mydp .weekdaytitle {
    color: #252832;
    border: 1px solid #fff;
    font-size: 12px;
    width: 35px;
    height: 25px!important;
    font-weight: 200;
}

.opening-wrapper .mydp .caltable,
.opening-wrapper .mydp .daycell,
.opening-wrapper .mydp .weekdaytitle {
    color: #252832;
    border: 1px solid #fff;
    font-size: 12px;
    width: 30px;
    height: 25px!important;
    font-weight: 200;
}

.dp-non .mydp .daycell div,
.opening-wrapper .mydp .daycell div {
    font-weight: 200!important;
}

.dp-non .mydp .daycell:hover {
    border: 1px solid #ddd!important;
}
.opening-wrapper .mydp .daycell:hover {
    border: 1px solid #ddd!important;
}

.dp-non .mydp .daycell.tablesingleday:hover,
.dp-non .mydp .daycell.selectedday.tablesingleday:hover div,
.opening-wrapper .mydp .daycell.tablesingleday:hover,
.opening-wrapper .mydp .daycell.selectedday.tablesingleday:hover div {
    background-color: #ddd!important;
}

.dp-non .mydp .selectedday,
.dp-non .mydp .selectedday div,
.opening-wrapper .mydp .selectedday,
.opening-wrapper .mydp .selectedday div {
    color: #fff;
    border: none;
    background-color: #0087e5!important;
    border-radius: none;
}

/* Popover override */
.wizard-step-content .popover { max-width: inherit; min-width: 450px; min-height: 500px; }
.wizard-step-content .provider .popover { max-width: inherit; min-height: 200px; min-width: 250px; }
