/* Global imports */

@import 'bootstrap.css';
@import 'reset.css';
@import '../fonts/lato/LatoLatin/latolatinfonts.css';
@import '../fonts/lato/LatoLatin/latostyle.css';
@import 'override.css';

.header { font-size: 14px; height: 60px; line-height: 62px; }
.header.header-color { background-color: #252c32; color: #B2B9BC; }

.header span { display: inline-block; }
.header .header-title { margin-left: 70px; color: #fff; font-size: 18px; }
.header .header-subtitle { margin-left: 40px; }
.text-bold { font-weight: bold; }

.content { margin-top: 45px; }
html, body { height: 100%; }

.layout-wrapper {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -142px;
}
.layout-wrapper:after {
  content: "";
  display: block;
}
.footer, .layout-wrapper:after {
  /* .push must be the same height as footer */
	height: 142px;
}

.width-95 { width: 95%!important; }

body { position: relative; }
.footer { text-align: center; width: 100%; }
.footer.footer-color { background-color: #e9eff0; color: #888; }

.footer p { padding-top: 5px; font-weight: bold; }

.scheduler-wrapper .wizard-title { color: #444; font-weight: 400; line-height: 1.2em; font-size: 30px; }
.scheduler-wrapper .wizard-subtitle { padding-bottom: 15px; padding-top: 25px; font-weight: 400; font-size: 16px; color: #252832; margin: 0 0 10px; }

.scheduler-wrapper .wizard-steps ul li { float: left; padding: 0; font-size: 12px; color: #afafaf; height: 45px; line-height: 48px; font-weight: 700; text-align: center; text-transform: uppercase; }
.scheduler-wrapper .wizard-steps ul li.tab_arrow { background: url("../images/tab_arrow.png") 0 19px no-repeat; width: 2%; height: 45px; padding: 0; }

.scheduler-wrapper .wizard-steps ul li.tnctext { white-space: nowrap; overflow: hidden; width: 100px; display: inline-block; }
.scheduler-wrapper .wizard-steps span.active { font-weight: 700; color: #434343!important; cursor: pointer; }
.scheduler-wrapper .wizard-steps span.done { color: #434343!important; font-weight: 700; background: url("../images/tab_done_arrow.png") 0 2px no-repeat; padding: 0 0 0 15px; cursor: pointer; }

.mobile-navbar { display: none; }

.scheduler-wrapper .progressBar { background-color: #E5E5E5; border-radius: 4px; height: 4px; margin-top: 40px; width: 100%; }
.scheduler-wrapper #progressStatus { background-color: #36CDBE; height: 100%;width: 50px; position: relative; overflow: visible!important; -webkit-transition: width 1s; transition: width 1s; }
.scheduler-wrapper #progressStatus .icon-arrow-left { color:#E5E5E5; width:1px; top:-1px; }
.scheduler-wrapper #progress-icon{ -webkit-transition: visibility 0.8s; transition: visibility 0.8s; visibility: hidden; position:absolute; height:12px; width:12px; background-color:#36CDBE; border-radius:60%; right:0; top:-4px; font-size:8px; color:#FFF; padding-top:3px; box-sizing:border-box; text-indent:2px; cursor:pointer; cursor:hand }


.mydp { width: auto!important; }
.mydp .selectiongroup .selection { font-weight: 200!important; font-size:14px !important; }

.wizard-step-content .list h3 {
    font-weight: 700;
    font-size: 13px;
    color: #7e7777;
}

.wizard-step-content .list ul {
    margin-top: 10px;
}

.wizard-step-content .list ul li.non-selectable { color: #aaa; }
.wizard-step-content .list ul li {
    padding: 10px 25px;
    cursor: pointer;
    position: relative;
    color: #1a93d0;

}

.pagelevel-wrapper ul li {
    border-bottom: 1px solid #ccc;
}

.wizard-step-content .list .pagelevel-wrapper ul li:hover {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 5px rgba(0,0,0,.07);
    top: -1px;
    position: relative;
    padding-top: 11px!important;
    padding-bottom: 9px!important;
}

.wizard-step-content b {
    line-height: 20px;
    display: block;
}

.wizard-step-content .list ul li p {
    display: inline-block;
    float: right;
    clear: right;
    line-height: 23px;
    margin-bottom: 0;
    color: #666;
    position: absolute;
    right: 52px;
    top: 12px;
    padding: 0;
    max-width: 100%;
}

.tree-reasons {
    max-height: 2000px;
}

.tree-hidden ul {
    max-height: 0;
	opacity: 0;
    overflow: hidden;
   -webkit-transition: max-height 0.5s, opacity 1s ease;
   -moz-transition: max-height 0.5s, opacity 1s ease;
   transition: max-height 0.5s, opacity 1s ease;
}

.opening-wrapper .opening-time-header {
    color: #444;
    font-weight: 700;
    text-align: center;
    padding-top: 0;
    margin-bottom: 15px;
}

.opening-wrapper .opening-time-item {
    font-size: 12px;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
    color: #1a93d0;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}
.opening-wrapper .opening-time-item:hover {
    border-color: #bbb;
    box-shadow: 0 3px 5px rgba(0,0,0,.07);
}

.disable-calendar .selector.inlinedp .headerbtncell button.headerbtn,
.disable-calendar .selector.inlinedp .headermonthtxt button.headerlabelbtn,
.disable-calendar .selector.inlinedp .headeryeartxt button.headerlabelbtn,
.disable-calendar .selector.inlinedp .caltable .weekdaytitle,
.disable-calendar .selector.inlinedp .daycell div span
 {
     color: #ccc!important;
     pointer-events: none;
     tab-index: -1;
 }

 .disable-calendar .selector.inlinedp .daycell.selectedday div span { color: #fff!important; }

 .img-provider { float: left; margin-right: 30px; width: 45px; height: 45px; }

/* ------ FORMS STYLES ------ */

.input-form .control-label { font-size: 14px; color: #8a8888; padding-top: 10px; }
.input-form .form-control { border-radius: 0px!important; }
.input-form .input-group { padding-right: 15px; padding-left: 15px; }
.input-form .input-group-addon { background-color: #fff; color: #9c9c9c; border-radius: 0px; }
.input-form .textarea-wrapper { position: relative; }
.input-form .textarea-wrapper .text-counter { position: absolute; bottom: -15px; right: 15px; }
.input-form button.btn-confirm { border-radius: 0px; background-color: #36CDBE; min-width: 200px; color: #fff; }


.input-form .form-control:focus { outline: none !important; border:1px solid #36CDBE; box-shadow: 0 0 5px #36CDBE; }

.input-form .invalid .form-control:focus { outline: none !important; border:1px solid #a94442; box-shadow: 0 0 5px #a94442; }
.input-form .invalid .form-control { border: 1px solid #a94442; }
.input-form .input-group.invalid .input-group-addon { border: 1px solid #a94442; border-right: 0px!important; }

.input-form p.text-danger { padding-top: 3px; font-size: 12px; }

.input-form .input-group.no-padding { padding-left: 0px; padding-right: 0px; }
.form-group.no-margin-group { margin-bottom: 5px; }

.person-confirm .row { margin-top: 15px; }
.person-confirm .person-desc p { padding: 5px; }
.person-confirm .buttons-row { margin-top: 15px; }
.person-confirm .buttons-row button { margin: 5px; }
.person-confirm .buttons-row a { display: inline-block; padding-top: 25px; }
.person-confirm .col-md-8.text-left { padding-top: 10px; font-weight: bolder; }

.person-confirm.passwords .buttons-row a,
.person-confirm.security .buttons-row a { padding-top: 12px; }
 
.wizard-step-content .ui-select-container.dropdown { outline: none; }
.wizard-step-content .ui-select-container.dropdown ul.ui-select-choices { margin-top: 1px; }
.wizard-step-content .ui-select-container.dropdown ul.ui-select-choices li { padding: 5px 15px; color: #36cdbe; }
.wizard-step-content .ui-select-container.dropdown ul.ui-select-choices .ui-select-choices-row.active a { background-color: #36cdbe; }
.addr-block { color: #888; position: relative; margin: 0 auto; width: 300px; }
.addr-block p { font-weight: normal!important; }

.text-danger { color: #a94442!important; }
.no-selected { padding-left: 3px; padding-top: 5px; }
.no-selected.rs { 
    padding-top: 0px;
    padding-left: 16px;
    line-height: 5px;
    display: block;
}

li.hidden { visibility: hidden!important; }
.scheduler-wrapper .wizard-steps ul.longer li.tnctext { width: 120px!important; }