<div class='person-wrapper input-form'>
    <div *ngIf='currentView == "form-person"'>
        <div class='col-md-12 wizard-subtitle'>
            Enter Your Information
        </div>
        <form novalidate [formGroup]='personFormGroup' (ngSubmit)='onSubmit(personFormGroup)'>
            <div class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                <label class='control-label col-form-label col-sm-3 text-center' for='personName'>
                    Name
                    <span class='text-danger'>*</span>
                </label>
                <div class='col-sm-2'>
                    <input maxlength="10" #input type='text' class='form-control' id='personTitle' (paste)='onPaste("title", $event)' formControlName='title' placeholder="Title" />
                </div>
                <div class='col-sm-3' [ngClass]="{ 'invalid': isInvalid('firstName') }">
                    <input maxlength="50" type='text' class='form-control' id='personFirstName' formControlName='firstName' (paste)='onPaste("firstName", $event)' placeholder="First name" />
                </div>
                <div class='col-sm-3' [ngClass]="{ 'invalid': isInvalid('lastName') }">
                    <input maxlength="50" type='text' class='form-control' id='personLastName' formControlName='lastName' (paste)='onPaste("lastName", $event)' placeholder="Last name" />
                </div>
            </div>
            <div class='form-group row col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3'>
                 <p *ngIf="showError('firstName', 'required')" class='text-danger'>
                    <small>Name is required</small>
                </p>
                <p *ngIf="showError('firstName', 'whitespace')" class='text-danger'>
                    <small>First name cannot consist of whitespaces only</small>
                </p>
                <p *ngIf="showError('lastName', 'required')" class='text-danger'>
                    <small>Last name is required</small>
                </p>
                <p *ngIf="showError('lastName', 'whitespace')" class='text-danger'>
                    <small>Last name cannot consist of whitespaces only</small>
                </p>
            </div>
            <div class='form-group row dp-non' *ngIf='settings.personDateOfBirthRequired'>
                <label class='control-label col-form-label col-sm-3 text-center' for='birthDate'>
                    Birth date
                    <span class='text-danger'>*</span>
                </label>
                <div class='col-sm-8'>
                    <my-date-picker tabindex="-1" [options]="dpOptions" [selDate]="selectedDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
                    <p *ngIf="validations.birthDateError" class='text-danger'>
                        <small>Birth date is required</small>
                    </p>
                </div>
            </div>
            <div class='form-group row'>
                <label class='control-label col-form-label col-sm-3 text-center' for='personEmail'>
                    Email
                     <span *ngIf='settings.phoneAndEmailRequired' class='text-danger'>*</span>
                </label>
                <div class='col-sm-8' [ngClass]="{ 'invalid': isInvalid('email') }">
                    <input maxlength="100" type='email' class='form-control' id='personEmail' (paste)='onPaste("email", $event)' formControlName='email' placeholder="Email" (keyup)='clearValidations("email")' />
                    <p *ngIf="showError('email', 'required')" class='text-danger'>
                        <small>Email is required</small>
                    </p>
                    <p *ngIf="showError('email', 'incorrectMailFormat')" class='text-danger'>
                        <small>Email is invalid</small>
                    </p>
                </div>
            </div>
            <div class='form-group row'>
                <label class='control-label col-form-label col-sm-3 text-center' for='personPhone'>
                    Mobile
                    <span *ngIf='settings.phoneAndEmailRequired' class='text-danger'>*</span>
                </label>
                <div class='col-sm-8'>
                    <div class='input-group no-padding' [ngClass]="{ 'invalid': isInvalid('phone') || validations.phoneError }" >
                        <input maxlength="15" [attr.data-mask]="formats.phoneFormat" (paste)='onPaste("phone", $event)' type='tel' class='form-control' id='personPhone' formControlName='phone' placeholder="Phone" (keypress)='checkMask($event, "phone")' (keyup)='clearValidations("phone")' (blur)="onPhoneBlur('phone', 'validations')" />
                    </div>
                    <p *ngIf="showError('phone', 'required')" class='text-danger'>
                        <small>Mobile number is required</small>
                    </p>
                     <p *ngIf='validations.phoneError' class='text-danger'>
                         <small>{{ validations.phoneError }}</small>
                    </p>
                     <p *ngIf='validations.oneRequiredError' class='text-danger'>
                         <small>{{ validations.oneRequiredError }}</small>
                    </p>
                </div>
            </div>
             <div class='form-group row'>
                <label class='control-label col-form-label col-sm-3 text-center' for='personAddress'>
                    Address
                    <span *ngIf='settings.personAddressRequired' class='text-danger'>*</span>
                </label>
                <div class='col-sm-8' [ngClass]="{ 'invalid': isInvalid('address') }">
                    <input maxlength="100" type='text' class='form-control' id='personAddress' (paste)='onPaste("address", $event)' formControlName='address' placeholder="Address" />
                    <p *ngIf="showError('address', 'required')" class='text-danger'>
                        <small>Address is required</small>
                    </p>
                     <p *ngIf="showError('address', 'whitespace')" class='text-danger'>
                        <small>Address cannot consist of whitespaces only</small>
                    </p>
                </div>
            </div>
            <div class='form-group row'>
                <label class='control-label col-form-label col-sm-3 text-center' for='personAddress2'>
                    Address 2
                </label>
                <div class='col-sm-8'>
                    <input maxlength="50" type='text' class='form-control' id='personAddress2' (paste)='onPaste("address2", $event)' formControlName='address2' placeholder="Address 2" />
                </div>
            </div>
            <div class='form-group row no-margin-group'>
                <div class='col-sm-offset-3 col-sm-3' [ngClass]="{ 'invalid': isInvalid('city') }">
                    <input maxlength="50" type='text' class='form-control' id='personCity' formControlName='city' (paste)='onPaste("city", $event)' placeholder="City" />
                    <p *ngIf="showError('city', 'required')" class='text-danger'>
                        <small>City is required</small>
                    </p>
                    <p *ngIf="showError('city', 'whitespace')" class='text-danger'>
                        <small>City cannot consist of whitespaces only</small>
                    </p>
                </div>
                <div *ngIf='!settings.countryDataSettings.states && settings.countryDataSettings.isStateApplicable' class='col-sm-2' [ngClass]="{ 'invalid': validations.stateError }">
                    <input maxlength="3" [attr.data-mask]="formats.stateFormat" type='text' class='form-control' (paste)='onPaste("state", $event)' id='personState' formControlName='state' placeholder="{{settings.countryDataSettings.stateLabel}}" (keypress)='checkMask($event, "state")' (keyup)='validations.stateError = ""' (blur)="onStateBlur()" />
                </div>
                <div *ngIf='settings.countryDataSettings.states && settings.countryDataSettings.isStateApplicable' class='col-sm-2' [ngClass]="{ 'invalid': validations.stateError }">
                    
                    <ng-select *ngIf='person.state'
                        [items]="states"
                        [active]='activeState'
                        (selected)="stateSelected($event, personFormGroup)"
                        placeholder="{{settings.countryDataSettings.stateLabel}}">
                    </ng-select>
                    <ng-select *ngIf='!person.state'
                        [items]="states"
                        (selected)="stateSelected($event, personFormGroup)"
                        placeholder="{{settings.countryDataSettings.stateLabel}}">
                    </ng-select>
                </div>
                <div class='col-sm-3' [ngClass]="{ 'invalid': validations.zipError }">
                    <input maxlength="11" [attr.data-mask]="formats.zipCodeFormat" type='text' class='form-control' (paste)='onPaste("zip", $event)' id='personZip' formControlName='zip' placeholder="{{settings.countryDataSettings.zipCodeLabel}}" (blur)="onZipBlur()" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-offset-3 col-sm-8 text-right' style='min-height: 10px; padding-bottom: 4px; '>
                    <p *ngIf='validations.stateError' class='text-danger'>
                        <small>{{ validations.stateError }}</small>
                    </p>
                    <p *ngIf='validations.zipError' class='text-danger'>
                        <small>{{ validations.zipError }}</small>
                    </p>
                </div>
            </div>
            <div class='form-group row'>
                <p *ngIf='globalError' class='text-danger text-center'> {{ globalError }} </p>
            </div>
            <div class='form-group row'>
                <div class='col-sm-12 text-center'>
                    <button type='submit' [disabled]="personFormGroup.invalid" class='btn btn-confirm btn-lg'>Continue</button>
                </div>
            </div>
        </form>
    </div>
    <div class='person-confirm' *ngIf='currentView == "person-data"'>
        <div class='row text-center person-desc'>
            <div class='col-md-offset-2 col-md-8'>
                <p style='font-size: 16px;'> Is That You? </p>
                <p> We found a record matching the main information you provided </p>
                <p> To avoid record duplication please confirm by choosing one of the options below </p>
            </div>
        </div>
        <div *ngIf='personDataView.title' class='row'>
            <div class='col-md-4 control-label'>Title</div>
            <div class='col-md-8 text-left'>{{ personDataView.title }}</div>
        </div>
        <div *ngIf='personDataView.name' class='row'>
            <div class='col-md-4 control-label'>Name</div>
            <div class='col-md-8 text-left'>{{ personDataView.name }}</div>
        </div>
        <div *ngIf='personDataView.firstName' class='row'>
            <div class='col-md-4 control-label'>First Name</div>
            <div class='col-md-8 text-left'>{{ personDataView.firstName }}</div>
        </div>
        <div *ngIf='personDataView.maskedAddress1' class='row'>
            <div class='col-md-4 control-label'>Address</div>
            <div class='col-md-8 text-left'>{{ personDataView.maskedAddress1 }}</div>
        </div>
        <div *ngIf='personDataView.city' class='row'>
            <div class='col-md-4 control-label'>City</div>
            <div class='col-md-8 text-left'>{{ personDataView.city }}</div>
        </div>
        <div *ngIf='personDataView.state' class='row'>
            <div class='col-md-4 control-label'>{{settings.countryDataSettings.stateLabel}}</div>
            <div class='col-md-8 text-left'>{{ personDataView.state }}</div>
        </div>
        <div *ngIf='personDataView.zipCode' class='row'>
            <div class='col-md-4 control-label'>{{settings.countryDataSettings.zipCodeLabel}}</div>
            <div class='col-md-8 text-left'>{{ personDataView.zipCode }}</div>
        </div>
        <div *ngIf='personDataView.maskedPhone' class='row'>
            <div class='col-md-4 control-label'>Phone</div>
            <div class='col-md-8 text-left'>{{ personDataView.maskedPhone }}</div>
        </div>
        <div *ngIf='personDataView.maskedEmail' class='row'>
            <div class='col-md-4 control-label'>Email</div>
            <div class='col-md-8 text-left'>{{ personDataView.maskedEmail }}</div>
        </div>
        <div class='row buttons-row'>
            <div class='col-md-2'>
                <a href='javacript:void(0)' (click)="startOver()">
                     <span class='glyphicon glyphicon-chevron-left'></span> 
                     <span> Start Over </span>
                </a>
            </div>
            <div class='col-md-2 col-md-offset-8'>
                <button class='btn btn-sm btn-default' (click)='showSecurityView()'>Yes, this is me <span class='glyphicon glyphicon-chevron-right'></span></button>
                <button class='btn btn-sm btn-default' (click)='proceed()'>No, this is NOT me <span class='glyphicon glyphicon-chevron-right'></span></button>
            </div>
        </div>
    </div>
    <div class='person-confirm security' *ngIf='currentView == "security-person"'>
        <div class='row text-center person-desc'>
            <div class='col-md-offset-2 col-md-8'>
                <p style='font-size: 16px;'> Security Confirmation </p>
                <p> For security purposes, please complete your personal information below </p>
            </div>
        </div>
        <form novalidate [formGroup]='securityFormGroup' (ngSubmit)='onSubmitSecurity(securityFormGroup)'>
            <div class='row'>
                <div *ngIf='personDataView.maskedPhone' class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                    <label class='control-label col-form-label col-sm-offset-1 col-sm-3'>
                        Phone
                    </label>
                    <div class='col-sm-5'>
                        <input maxlength="50" autofocus placeholder='{{personDataView.maskedPhone}}' id='securityPhone' type='text' class='form-control' formControlName='sPhone' (keypress)='checkMask($event, "phone")' (blur)="onPhoneBlur('sPhone', 'sValidations')" />
                         <p *ngIf='sValidations.phoneError' class='text-danger'>
                            <small>{{ sValidations.phoneError }}</small>
                        </p>
                    </div>
                </div>
                <div *ngIf='personDataView.maskedEmail' class='form-group row'>
                    <label class='control-label col-form-label col-sm-offset-1 col-sm-3'>
                        Email
                    </label>
                    <div class='col-sm-5'>
                        <input maxlength="100" placeholder='{{personDataView.maskedEmail}}' type='text' class='form-control' formControlName='sEmail' />
                        <p *ngIf="showError('sEmail', 'incorrectMailFormat')" class='text-danger'>
                            <small>Email is invalid</small>
                        </p>
                    </div>
                </div>
                <div *ngIf='personDataView.petNameHint' class='form-group row'>
                    <label class='control-label col-form-label col-sm-offset-1 col-sm-3'>
                        Your Pet Name
                    </label>
                    <div class='col-sm-5'>
                        <input maxlength="50" placeholder='{{personDataView.petNameHint}}' type='text' class='form-control' formControlName='sPetName' />
                    </div>
                </div>
                <div class='form-group row'>
                    <div *ngIf='securityErrorMessage' class='col-md-offset-4 col-md-8 text-danger'>
                        {{ securityErrorMessage }}
                    </div>
                </div>
                <div *ngIf='showRedirectMessage' class='form-group row'>
                    <h3 class='text-danger'>A match was found in our systems. You will be redirected in 5 seconds.</h3>
                </div>
            </div>
            <div class='row buttons-row col-md-12'>
                <div class='col-md-2'>
                    <a href='javacript:void(0)' (click)="startOver()">
                        <span class='glyphicon glyphicon-chevron-left'></span> 
                        <span> Start Over </span>
                    </a>
                </div>
                <div class='col-md-2 col-md-offset-8'>
                    <button class='btn btn-sm btn-default' type='submit'>Next <span class='glyphicon glyphicon-chevron-right'></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class='person-confirm passwords' *ngIf='currentView == "password-person"'>
        <div class='text-left person-desc'>
            <div class='col-md-8'>
                <p style='font-size: 18px;'> {{ person.firstName }}, Welcome To Your New Portal </p>
                <p style='font-size: 16px;'> Please create your own password </p>
                <p> so you will be able to return easily to your portal </p>
            </div>
            <div class='col-md-4 well well-sm'>
                <p>{{ person.firstName }} {{ person.lastName }}</p>
                <p> {{ person.address }} </p>
                <p> {{ person.city }}, {{ person.zip }} </p>
                <p> If you are not this person <a href='javascript:void(0);' (click)='proceed()'> Click here </a></p>
        </div>
        <form novalidate [formGroup]='passwordFormGroup' (ngSubmit)='onSubmitPassword(passwordFormGroup)'>
            <div class='row'>
                <div class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                    <label class='control-label col-form-label col-sm-offset-1 col-sm-3'>
                        New password
                    </label>
                    <div class='col-sm-3'>
                        <input maxlength="50" autofocus type='password' class='form-control' formControlName='password' />
                    </div>
                </div>
                <div class='form-group row'>
                    <label class='control-label col-form-label col-sm-offset-1 col-sm-3'>
                        Confirm password
                    </label>
                    <div class='col-sm-3'>
                        <input maxlength="50" type='password' class='form-control' formControlName='cPassword' />
                    </div>
                </div>
                <div class='form-group row'>
                    <div *ngIf='passwordErrorMessage' class='col-md-offset-4 col-md-8 text-danger'>
                        {{ passwordErrorMessage }}
                    </div>
                </div>
            </div>
            <div class='row buttons-row'>
                <div class='col-md-2'>
                    <a href='javacript:void(0)' (click)="startOver()">
                        <span class='glyphicon glyphicon-chevron-left'></span> 
                        <span> Back </span>
                    </a>
                </div>
                <div class='col-md-2 col-md-offset-8'>
                    <button class='btn btn-sm btn-default' type='submit'>Next Step <span class='glyphicon glyphicon-chevron-right'></span></button>
                </div>
            </div>
        </form>
    </div>
</div>