<div *ngIf='!isError' class='pagelevel-wrapper'>
    <ul *ngIf="providers">
        <li
            *ngFor="let provider of providers" style="line-height:37px;"
            (click)='selectProvider(provider)'
            (mouseover)='hoverProvider(provider)'
            [popover]="myPopover2"
            [popoverOnHover]="true"
            [popoverCloseOnMouseOutside]="true"
        >
            <div>
                <img [src]='provider.photoUrl' width='45px' height='45px' class='img-provider' />
                <span>{{ provider.displayName }}</span>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>

<div *ngIf='isError'>
    <span class='text-danger'>{{ errorText }}</span>
</div>

<popover-content #myPopover2 placement="right" [closeOnMouseOutside]="true">
    <div *ngIf='hoveredProvider'>
        <div>
            <img [src]='hoveredProvider.photoUrl' style='margin: 10px;' width='45px' height='45px' class='img-provider' />
            <span style='display:inline-block; padding-top: 20px;'>{{ hoveredProvider.displayName }}</span><br />
        </div>
    </div>
</popover-content>
