<ul *ngIf='reasons' class='tree-reasons'>
    <li *ngFor="let reason of reasons.children" [ngClass]="{'non-selectable': reason.nonSelectable }">
        <span data-id='{{ reason.id }}' (click)='toggleChildren($event, reason)' class='glyphicon' [ngClass]="{ 'glyphicon-chevron-right': !isExpanded(reason) && reason.isCategory, 'glyphicon-chevron-down': isExpanded(reason) }"></span>
        <span data-id='{{ reason.id }}'
            (click)='toggleChildren($event, reason)'
            [ngClass]='{ "text-bold": reason && selectedReason && (reason.name === selectedReason.name) }'
            (mouseover)='hoverReason(reason)'
            (mouseleave)="resetReason();"
            tooltip="{{ reason.tooltipText }}"
            [tooltipDisabled]="isDisabled(reason)"
            [tooltipAnimation]="false"
            tooltipPlacement="top"

            [popover]="myPopover"
            [popoverOnHover]="true"
            [popoverDisabled]="!reason.help || !reason.help.isPopup"
            [popoverCloseOnMouseOutside]="true"

        >{{ reason.name }}</span>
        <label *ngIf='reason.nonSelectable' class='no-selected text-danger'>{{ reason.nonSelectableText}}</label><br />
        <popover-content #myPopover placement="right" title='{{ hoveredReason ? hoveredReason.help.popupTitle : "" }}' [closeOnMouseOutside]="true">
            <div *ngIf='hoveredReason && hoveredReason.help.isPopup'>
                <iframe [src]="hoveredReason.help.helpUrl" width="450" height="500" align="left">
                    Not supported
                </iframe>
            </div>
        </popover-content>
        <tree-view [level]='level + 1' [ngClass]="{ 'tree-hidden': !isExpanded(reason) }" (onSelect)='selectReason()' [reasons]='reason'></tree-view>
</ul>
