<div class='person-wrapper input-form'>
    <div>
        <div class='col-md-12 wizard-subtitle'>
            Enter Your Pet Information
        </div>
        <form novalidate [formGroup]='petFormGroup' (ngSubmit)='onSubmit(petFormGroup)'>
            <div class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                <label class='control-label col-form-label col-sm-offset-1 col-sm-2' for='petName'>
                    Pet Name
                    <span class='text-danger'>*</span>
                </label>
                <div class='col-sm-7' [ngClass]="{ 'invalid': isInvalid('name') }">
                    <input maxlength="50" #input type='text' class='form-control' id='petName' (paste)='onPaste("name", $event)' formControlName='name' placeholder="Your pet name" />
                </div>
            </div>
            <div class='form-group row col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3'>
                 <p *ngIf="showError('name', 'required')" class='text-danger'>
                    <small>Name is required</small>
                </p>
                <p *ngIf="showError('name', 'whitespace')" class='text-danger'>
                    <small>Name cannot consist of whitespaces only</small>
                </p>
            </div>
            <div *ngIf='genders && genders.length > 0' class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                <label class='control-label col-form-label col-sm-offset-1 col-sm-2' for='petGender'>
                    Gender
                </label>
                <div class='col-sm-7' [ngClass]="{ 'invalid': validations.genderError }">
                    <select (change)='genderSelected($event)' class='form-control'>
                        <option value=''>-- Select Gender --</option>
                        <option *ngFor='let gender of genders' [selected]='gender.id === pet.gender' [value]='gender.id'>{{gender.text}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf='showGenderError' class='form-group row col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3'>
                 <p class='text-danger'>
                    <small>Gender required</small>
                </p>
            </div>
            <div class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                <label class='control-label col-form-label col-sm-offset-1 col-sm-2' for='petBreed'>
                    Breed
                </label>
                <div class='col-sm-7' [ngClass]="{ 'invalid': validations.breedError }">
                    <input maxlength="35" type='text' class='form-control' id='petBreed' (paste)='onPaste("breed", $event)' formControlName='breed' placeholder="Your pet breed" />
                </div>
            </div>
            <div *ngIf='species && species.length > 0' class='form-group row no-margin-group' style='margin-bottom: 15px;'>
                <label class='control-label col-form-label col-sm-offset-1 col-sm-2' for='petSpecies'>
                    Species
                </label>
                <div class='col-sm-7' [ngClass]="{ 'invalid': validations.speciesError }">
                    <select (change)='speciesSelected($event)' class='form-control'>
                        <option value=''>-- Select Species --</option>
                        <option *ngFor='let specie of species' [selected]='specie.id === pet.species' [value]='specie.id'>{{specie.text}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf='showSpeciesError' class='form-group row col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3'>
                 <p class='text-danger'>
                    <small>Species required</small>
                </p>
            </div>
            <div class='form-group row dp-non'>
                <label class='control-label col-form-label col-sm-offset-1 col-sm-2' for='birthDate'>
                    Birth date
                    <span class='text-danger'>*</span>
                </label>
                <div class='col-sm-7'>
                    <my-date-picker tabindex="-1" [options]="dpOptions" [selDate]="selectedDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
                    <p *ngIf="validations.birthDateError" class='text-danger'>
                        <small>Birth date is required</small>
                    </p>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-12 text-center'>
                    <button type='submit' [disabled]="petFormGroup.invalid" class='btn btn-confirm btn-lg'>Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>