<div class='row'>
    <div class='col-md-12 wizard-subtitle'>
        Please select the reason:
    </div>
    <div *ngIf='level === 0' class='col-md-12' style='font-size: 14px'>
        {{ settings.reasonSelectionMainTitle }}
    </div>
    <div *ngIf='level > 0' class='col-md-12' style='font-size: 14px'>
        {{ settings.reasonSelectionSecondaryTitle }}
    </div>
</div>
<div *ngIf='showSpinner && !errorText'>
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div *ngIf='errorText' class='text-danger'>
    <br />
    {{ errorText }}
</div>
<div class='pagelevel-wrapper' *ngIf='!showSpinner && !errorText && type === "OnePagePerLevel"'>
    <ul *ngIf="viewModel">
        <li
            [ngClass]="{'non-selectable': reason.nonSelectable }"
            *ngFor="let reason of viewModel.children" style="line-height:37px;"
            (click)='selectLevel(reason)'
            (mouseover)='hoverReason(reason)'
            (mouseleave)="resetReason();"
            tooltip="{{ reason.tooltipText }}"
            [tooltipDisabled]="!reason.help || reason.help.isPopup"
            [tooltipAnimation]="false"
            tooltipPlacement="top"

            [popover]="myPopover"
            [popoverOnHover]="true"
            [popoverDisabled]="!reason.help || !reason.help.isPopup"
            [popoverCloseOnMouseOutside]="true"
        >
            <div>
                <span class='glyphicon glyphicon-chevron-right'></span>
                <span>{{ reason.name }}</span>
                <label *ngIf='reason.nonSelectable' class='no-selected rs text-danger'>{{ reason.nonSelectableText}}</label>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
    <br />
    <button class='btn btn-default btn-sm' *ngIf='selectedReason' (click)='returnBack()'>Back</button>
</div>
<div *ngIf='!showSpinner && !errorText && type === "Tree"'>
    <tree-view [level]='0' [reasons]='viewModel' (onSelect)='selectReason()'></tree-view>
</div>

<popover-content #myPopover placement="right" title='{{ hoveredReason ? hoveredReason.help.popupTitle : "" }}' [closeOnMouseOutside]="true">
    <div *ngIf='hoveredReason'>
        <iframe [src]="hoveredReason.help.helpUrl" width="450" height="500" align="left">
            Not supported
        </iframe>
    </div>
</popover-content>
